<!-- your_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
</head>
<body>
<h1>Movie List</h1>
<!-- Use a for loop to iterate through the movies data -->
<ul>
    {% for film in films %}
    <li>
        <h3>{{ film.name }}</h3>
<!--        &lt;!&ndash; Assuming you have a release_date field &ndash;&gt;-->
<!--        <p>Released on {{ film.release_date }}</p>-->
        <!-- Display the poster image -->
        <img src="{{ film.poster_image }}" alt="Poster for {{ film.name }}">
        <!-- Display the film description -->
        <p>{{ film.description }}</p>
    </li>
    {% empty %}
    <li>No films to display.</li>
    {% endfor %}
</ul>
</body>
</html>
