<!-- your_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
</head>
<body>
<h1>Movie List</h1>
<!-- Use a for loop to iterate through the movies data -->
<ul>
    {% for film in films %}
    <li>
        <h3>{{ film.name }}</h3>
        <br>
        <!-- Display the poster image -->
        <img src="{{ film.poster_image}}" style="width:100px; height:auto;">
        <br>
        <p>{{ film.description }}</p>
    </li>
    {% empty %}
        <li>No films to display.</li>
    {% endfor %}
</ul>
</body>
</html>
